@charset "utf-8";
body {
    font-family : sans-serif , "Noto Sans Japanese";
    font-size: 15px
}
.breadcrumbs ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(153, 153, 153);
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs li::after {
    content: ">";
}
.breadcrumbs li:last-child::after {
    content: none;
}
.breadcrumbs a {
    text-decoration: none;
}