@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    color: #333;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
li{
    list-style: none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* リセットCSSここまで */
* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
    width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

/* header */
header {
    height: 56px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.header-logo-pc {
    margin-top: 16px;
    margin-left: 96px;
    width: 38px;
    height: 24px;
}
.header-logo-sp {/* スマホ用ロゴ非表示 */
    display: none;
}
.header-nav {
    display: flex;
    margin: 26px 96px 8px 652.51px;
}
.header-nav li {
    margin-right: 56px;
}

.header-nav li:last-of-type {
    margin-right: 0;
}
.header-nav a {
    color: #B2B2B2;
}
.text {/* レスポンシブでの改行を非表示 */
    display: none;
}

/* headerのレスポンシブ */
@media (max-width: 375px) {
    header {
        position: fixed;
        z-index: 100;
    }
    .header-wrapper {
        background-color: #918F89;
        top: 0;
    }
    .header-nav {
        display: none;
    }
    .header-logo-sp {
        display: block;
        width: 40px;
        height: 24px;
        margin: 16px 168px;
    }
    .header-logo-pc {/* PC画面用ロゴ非表示 */
        display: none;
    }
}




/* トップ画像 */
.top-page {
    background-image: url("../kaguya_images/news_top/news_top.png");
    background-size: cover;
    height: 456px;
    width: 1280px;
    position: relative;
}
.top-page h1 {
    width: 93px;
    height: 41px;
    position: absolute;
    color: #918F89;
    font-size: 30px;
    font-weight: normal;
    top: 191px;
    left: 228px;
}
/* トップ画像のレスポンシブ */
@media(max-width: 375px) {
    .top-page {
        background-image: url("../kaguya_images/news_top_sp/news_top_sp.png");
        background-size: 100% 100%;
        width: 375px;
        height: 704px;
        position: absolute;
        top: 0;
    }
    .top-page h1 {
        left: 149px;
        top: 256px;
        color: #3B3B3B;
        font-size: 25px;
        letter-spacing: 2.5px;
        width: 84px;
        height: 32px;
    }
}

/* 入荷情報 */

section {
    margin: 160px 0 320px;
}
section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 56px;
    letter-spacing: 2.3px;
}
.arrival-list {
    display: flex;
    margin: 0 96px 32px;
}
.arrival-list li {
    position: relative;
    width: 320px;
    height: 320px;
}
.arrival-list li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /*黒の半透明のフィルターをかける*/
}
.arrival-list p {
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    text-shadow: 0px 0px 6px #000000E0;
    letter-spacing: -0.85px;
}
/* アームストロングのカウチ入荷　*/
.arrival-list li:first-of-type {/* 画像部分 */
    background-image: url("../kaguya_images/news01/news01.png");
    margin-right: 64px;
}

.arrival-list li:first-of-type p {/* テキスト部分 */
    top: 144.19px;
    left: 47px;
}

/* アームストロングのチェア再入荷　*/
.arrival-list li:nth-of-type(2) {/* 画像部分 */
    background-image: url("../kaguya_images/news02/news02.png");
    margin-right: 64px;
}

.arrival-list li:nth-of-type(2) p {/* テキスト部分 */
    top: 143px;
    left: 39.5px;
}

/* アームストロングのテーブル入荷　*/
.arrival-list li:nth-of-type(3) {/* 画像部分 */
    background-image: url("../kaguya_images/news03/news03.png");
}

.arrival-list li:nth-of-type(3) p {/* テキスト部分 */
    top: 141px;
    left: 41px;
}

/* 入荷情報のレスポンシブ */
@media (max-width: 375px) {
    section {
        position: absolute;
        top: 704px;
        width: 375px;
    }
    section h2 {
        margin-left: 138px;
        font-size: 22px;
        width: 99px;
        height: 24px;
    }
    .arrival-list {
        flex-direction: column;
        margin: 0 51.5px;
    }
    .arrival-list li {
        margin-top: 24px;
        width: 272px;
        height: 272px;
    }
    .arrival-list p {
        font-size: 15px;
        letter-spacing: -0.75px;
    }
    /* news　アームストロングのカウチ入荷　*/
    .arrival-list li:first-of-type {/* 画像部分 */
        background-image: url("../kaguya_images/news01_2/AdobeStock_59829158.png");
    }
    .arrival-list li:first-of-type p {/* テキスト部分 */
        top: 122px;
        left: 36.5px;
    }
    /* news　アームストロングのチェア再入荷　*/
    .arrival-list li:nth-of-type(2) {/* 画像部分 */
        background-image: url("../kaguya_images/news02_2/news02.png");
    }
    .arrival-list li:nth-of-type(2) p {/* テキスト部分 */
        top: 122px;
        left: 36.5px;
    }
    .news-text {
        display: none;
    }
    

    /* news　アームストロングのテーブル入荷　*/
    .arrival-list li:nth-of-type(3) {/* 画像部分 */
        background-image: url("../kaguya_images/news03_2/news03.png");
    }
    .arrival-list li:nth-of-type(3) p {/* テキスト部分 */
        top: 122px;
        left: 36.5px;
    }
    .arrival-list li p {
        text-align: center;
    }
    /*　newsのview more */
    .news-wrapper p {
        margin-top: 32px;
        text-align: initial;
    }
    .viewmore-p {
        padding-left: 132px;
    }
    .news-wrapper a {
        opacity: 1;
        letter-spacing: 0.9px;
    }
}


/* footer */

.footer-wrapper {
    height: 240px;
    margin-top: 320px;
    background-color: #918F89;
    color: #FFFFFF;
}
.footer-item {
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    margin-top: 120px;
}
.footer-logo {
    width: 64px;
    height: 40px;
    margin-left: 240px;
    margin-top: 120px;
}
.footer-nav li {
    margin-right: 32px;
    font-size: 18px;
    height: 24px;
}
.footer-nav li:first-of-type {
    margin-left: 17px;
}
.footer-nav li:last-of-type {
    margin-right: 192px;
}
.footer-nav a {
    color: #FFFFFF;
}
.footer-wrapper small {
    font-size: 11px;
    margin: 41px auto 24px;
    display: block;
    text-align: center;
}
.footer-logo-sp {/* スマホ用ロゴ非表示 */
    display: none;
}
/* footerのレスポンシブ */
@media (max-width:375px) {
    footer {
        position: absolute;
        top: 2040px;
        margin-bottom: 56px;
    }
    .footer-wrapper {
        height: 240px;
        margin-top: 0;
    }
    .footer-nav {
        display: none;
    }
    .footer-logo {
        display: none;
    }
    .footer-logo-sp {
        display: block;
        width: 52px;
        height: 32px;
        margin: 72px 162px 82px;
    }
    .footer-wrapper small {
        margin: 0 147px 32px;
        font-size: 10px;
    }
}
