@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    color: #333;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
li {
    list-style: none;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* リセットCSSここまで */
* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
    width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}
/* header */
header {
    height: 56px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.header-logo-pc {
    margin-top: 16px;
    margin-left: 96px;
    width: 38px;
    height: 24px;
}
.header-logo-sp {/* スマホ用ロゴ非表示 */
    display: none;
}
.header-nav {
    display: flex;
    margin: 26px 96px 8px 652.51px;
}
.header-nav li {
    margin-right: 56px;
}

.header-nav li:last-of-type {
    margin-right: 0;
}
.header-nav a {
    color: #B2B2B2;
}
/* headerのレスポンシブ */
@media (max-width:375px) {
    header {
        position: fixed;
        z-index: 100;
    }
    .header-wrapper {
        background-color: #918F89;
        top: 0;
    }
    .header-nav {
        display: none;
    }
    .header-logo-sp {
        display: block;
        width: 40px;
        height: 24px;
        margin: 16px 168px;
    }
    .header-logo-pc {/* PC画面用ロゴ非表示 */
        display: none;
    }
}
/* トップ画像 */
.top-page {
    background-image: url("../kaguya_images/recruit_top/recruit_top.png");
    background-size: cover;
    height: 456px;
    width: 1280px;
    position: relative;
}
.top-page h1 {
    position: absolute;
    color: #918F89;
    font-size: 30px;
    font-weight: normal;
    top: 191px;
    left: 228px;
    width: 140px;
    height: 41px;
}
/* トップ画像のレスポンシブ */
@media(max-width:375px) {
    .top-page {
        background-image: url("../kaguya_images/recruit_top_sp/recruit_top_sp.png");
        background-size: 100% 100%;
        width: 375px;
        height: 704px;
        position: absolute;
        top: 0;
    }
    .top-page h1 {
        left: 119px;
        top: 256px;
        font-size: 25px;
        letter-spacing: 2.5px;
        width: 137px;
        height: 32px;
        color: #3B3B3B;
        text-align: center;
    }
}
/* 採用情報 */
section {
    margin: 161px 0 320px;
}
section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 32px;
    letter-spacing: 2.3px;
} 

table {
    width: 640px;
    height: 624px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    border-collapse: collapse;
}
th {/* table　販売員　家具職人 */
    background-color: rgba(178, 178, 178, 0.3);
    border: 1px solid #707070;
    font-weight: normal;
    width: 148px;
    vertical-align: middle;
}
td {/*『仕事内容・時給月給・勤務時間』の枠 */
    border: 1px solid #707070;
}
.job-information {/*『仕事内容・時給月給・勤務時間』 */
    padding: 16px 0 8px 48px;
}
.job-description {/*『仕事内容・時給月給・勤務時間』の内容 */
    font-size: 14px;
    padding: 0 0 16px 48px;
}
.job-description p {
    line-height: 21px;
}
.job-contents {/*『仕事内容』の中のリスト */
    padding-left: 68px;
    font-size: 14px;
    padding-bottom: 16px;
}
.job-contents li {
    list-style-type: disc;
    line-height: 23px;
}
/* 採用情報レスポンシブ */
@media (max-width: 375px) {
    section {
        position: absolute;
        top: 704px;
        margin: 160px 0 0 0;
    }
    section h2 {
        width: 129px;
        height: 24px;
        margin-left: 127px;
    }
    table {
        width: 344px;
        height: 624px;
        margin-left: 16px;
    }
    th {/* table　販売員　家具職人 */
        width: 72px;
        font-size: 14px;
    }
    td {
        width: 272px;
    }
    .job-information {/*『仕事内容・時給月給・勤務時間』 */
        font-size: 15px;
        padding: 17px 0 8px 23px;
    }
    .job-description {/*『仕事内容・時給月給・勤務時間』の内容 */
        font-size: 13px;
        padding-left: 23px;
    }
    .job-contents {/*『仕事内容』の中のリスト */
        font-size: 13px;
        padding-left: 43px;
    }
    .job-contents li::marker {
        font-size: 1.5px;
    }
}


/* footer */
.footer-wrapper {
    height: 240px;
    margin-top: 320px;
    background-color: #918F89;
    color: #FFFFFF;
}
.footer-item {
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    margin-top: 120px;
}
.footer-logo {
    width: 64px;
    height: 40px;
    margin-left: 240px;
    margin-top: 120px;
}
.footer-nav li {
    margin-right: 32px;
    font-size: 18px;
    height: 24px;
}
.footer-nav li:first-of-type {
    margin-left: 17px;
}
.footer-nav li:last-of-type {
    margin-right: 192px;
}
.footer-nav a {
    color: #FFFFFF;
}
.footer-wrapper small {
    font-size: 11px;
    margin: 41px auto 24px;
    display: block;
    text-align: center;
}
.footer-logo-sp {/* スマホ用ロゴ非表示 */
    display: none;
}
/* footerのレスポンシブ */
@media (max-width:375px) {
    footer {
        position: absolute;
        top: 1550px;
        padding-bottom: 56px;
    }
    .footer-wrapper {
        height: 240px;
        margin-top: 256px;
    }
    .footer-nav {
        display: none;
    }
    .footer-logo {
        display: none;
    }
    .footer-logo-sp {
        display: block;
        width: 52px;
        height: 32px;
        margin: 72px 162px 82px;
    }
    .footer-wrapper small {
        margin: 0 147px 32px;
        font-size: 10px;
    }
}
